.paginate{
	margin-top: 30px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin: auto;
	width: 100%;
}

.article-release {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: right;
	margin-right: 20px;
}

.article-release a {
	color: gray;
}

.article-release a:hover {
	font-weight: bold;
	text-decoration: none;
}

.article-list{
	width: 700px;
	margin: auto;
	background: #eee;
	height: 400px;
	min-height: 400px;
}

.article-item {
	margin: 20px 20px 20px 10px;
}

.article-title{
	height: 40px;
	line-height: 40px;
	margin-left: 0px;
	padding-left: 0px;
}

.article-op{
	height: 40px;
	line-height: 40px;
}

.article-op-level {
	float: left;
}

#article-op-btn{
	text-decoration: none;
	color: gray;
}
.article-content{
	height: 400px; 
	min-height: 400px 
}
.do-comment{
	width: 700px;
	margin: 5px auto;
}

.comment {
	margin-top: 20px;
}

.comment-item{
	margin-top: 10px;
}
.comment-time{
	font-size: 10px;
}
.image_view {
    margin: 10px auto;
}

#gap textarea {
	border-radius: 5px;
}