.city {
	border-radius: 5px;
	text-align: center;
	margin: 5px 0px;
	border: 1px dotted silver;
	background-color: white;
}

.city:hover {
	background-color: #ec971f;
	color: white;
}

.city a {
	color: gray;
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: block;
	padding: 5px 0px;
}

.city a:hover {
	color: white;
}

.city-level {
	height: 35px;
	line-height: 35px;
	border-radius: 5px;
	background-color: #e1d9aa;
}