.image_ul{
	list-style:none;
	margin-top: 10px;
}

.image_ul li{
	/*float: left;*/
	display: inline-block;
	height: 32px;
	width: 50px;
	line-height: 32px;
	border-radius: 5px;
	margin-right: 5px;
}

.image_ul a{
	text-decoration: none;
	color: gray;
	text-align: center;
	display: inline-block;
	width: 50px;
}

.image_ul li:hover{
	border: 1px solid silver;
	height: 32px;
	line-height: 32px;
	width: 50px;
}

#pagenext{
	width: 50px;
	text-align: center;
}

.common-height {
	height: 45px;
	line-height: 45px;
	padding: 5px auto;
	border-bottom: 1px dotted silver;
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis; 
}
.active_page {
  background-color: #F5F5F5;
  border-radius: 5px;
  border: 1px solid silver;
}