<!doctype html>
<html>
  <head>
    {% block head %}
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cerulean/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/poi.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/image.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/category.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/city.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/poi.css') }}">
    <title>{% block title %}{% endblock %} - My Python Webpage</title>
    {% endblock %}
  </head>
<body>
  <div class="container">
    <nav>
      <ul class="nav nav-tabs nav-ul">
        <li role="presentation" {% if 'index' == active_page %} class="active-menu"{% endif %}>
          <a href="{{ url_for('main.index') }}">首页</a>
        </li>
        <li role="presentation" {% if 'article' == active_page %} class="active-menu"{% endif %}>
          <a href="{{ url_for('main.article_index') }}">文章</a>
        </li>
        <li role="presentation" {% if 'image' == active_page %} class="active-menu"{% endif %}>
          <a href="{{ url_for('main.image_index') }}">图片</a>
        </li>
        <li role="presentation" {% if 'poi' == active_page %} class="active-menu"{% endif %}>
          <a href="{{ url_for('main.poi_category') }}">POI</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>
  
  <div class="footer">
    <hr/>
      <center>
         &copy; Copyright 2019 &emsp;By <a href="#">Flask Study</a>
      </center>
      <div class="friend">
        友情链接：
        <span><a href="https://blog.csdn.net/cjqh_hao" target="_blank"> CSDN 博客</a></span>
        <span><a href="https://www.python.org/" target="_blank"> Python 官网</a></span>
        <span><a href="https://palletsprojects.com/" target="_blank"> Flask 官网</a></span>
        <span><a href="https://scrapy.org/" target="_blank"> Scrapy 官网</a></span>
      </div>
  </div>
</body>