{% extends "layout.html" %}
{% set active_page = "image" %}
{% block title %}flask image{% endblock %}
{% block content %}
<div class="container">
	<div class="row" id="common-gap">
		<div class="col-md-3 common-height">主题</div>
		<div class="col-md-9 common-height">图片</div>
	</div>
	{% for image in images %}
	<div class="row">
        <div class="col-md-3 common-height">
        	{{ image.title}}
        </div>
        <div class="col-md-9 common-height">
        	<a href='/image/view?id={{image.id}}' target="_blank">
        		{{image.img_url}}
        	</a>
        </div>
    </div>
    {% endfor %}
 	
 	<div id='paginate'>
	    <ul class="image_ul">
	    	<li id = 'pagenext'>
	    		{% if paginate.has_prev %}
	        		<a href='/image/index?page={{paginate.pre_num}}'>上一页</a>
	        	{% else %}
	        		<a href='/image/index?page=1'>上一页</a>
	    		{% endif %}
	    	</li>

		    {% for page in paginate.iter_pages(left_edge=2, left_current=2, right_current=2, right_edge=2) %}
		    	{% if page  == paginate.page %}
		        	<a class="active-page" href="/image/index?page={{ page }}"><li>{{ page }}</li></a>
		        {% elif page %}
		    		<a href="/image/index?page={{ page }}"><li>{{ page }}</li></a>
		    	{% endif %}
		    {% endfor %}

		    <li id = 'pagenext'>
		    	{% if paginate.has_next %}
	        		<a href='/image/index?page={{paginate.next_num}}'>下一页</a>
	        	{% else %}
	        		<a href='/image/index?page={{ paginate.pages }}'>下一页</a>
	    		{% endif %}
	    	</li>
	    </ul>
 	</div>
</div>
{% endblock %}