{% extends "layout.html" %}
{% set active_page = "article" %}
{% block title %}flask article create{% endblock %}
{% block content %}
<div class="container" id='shadow'>
	<div class="row">
		<div class="article-release">
			<a href="/article/index"><i class="fa fa-angle-left">&nbsp;</i>返回列表</a>
		</div>
		<form action="/article/create" method="post">
			<div class="form-group">
			    <label for="title">Title</label>
			    <input type="text" class="form-control" name="title" placeholder="文章标题">
			 </div>
			 <div class="form-group">
			    <label for="title">Content</label>
			    <textarea class="form-control" rows="10" name="content" placeholder="文章内容"></textarea>
			 </div>
		    <input type="submit" id="submit" value="创建">
		</form>
	</div>
</div>
{% endblock %}