{% extends "layout.html" %}
{% set active_page = "article" %}
{% block title %}flask article index{% endblock %}
{% block content %}
<div class="container" id='shadow'>
	<div class="row">
		<div class="article-release">
			<a href="/article/create">文章发布</a>
		</div>
	</div>
	{% for article in articles %}
        <div class="article-item">
        	<div class="article-title">
        		<i class="fa fa-book">&nbsp;</i>
        		{{ article.title }}
        	</div>
            <div>
            	{{ article.content}}
            </div>
            <div class="article-op">
            	<div class="article-op-level">
            		<a id ="article-op-btn" href="/article/view?article_id={{article.id}}"><i class="fa fa-eye"></i></a>
            	</div>
            	<div>
            		<form action="/article/edit" method="POST">
            			<input type="hidden" name="article_id" value="{{article.id}}" />
            			<button id="article-op-btn" type="submit" class="btn btn-link">
            				<i class="fa fa-edit"></i>
            			</button>
            		</form>
            	</div>
            </div>
        </div>
     {% endfor %}
     <div id='paginate'>
	    <ul class="image_ul">
	    	<li id = 'pagenext'>
	    		{% if paginate.has_prev %}
	        		<a href='/article/index?page={{paginate.pre_num}}'>上一页</a>
	        	{% else %}
	        		<a href='/article/index?page=1'>上一页</a>
	    		{% endif %}
	    	</li>

		    {% for page in paginate.iter_pages(left_edge=2, left_current=2, right_current=2, right_edge=2) %}
		    	{% if page  == paginate.page %}
		        	<a href="/article/index?page={{ page }}"><li class='active_page'>{{ page }}</li></a>
		        {% elif page %}
		    		<a href="/article/index?page={{ page }}"><li>{{ page }}</li></a>
		    	{% endif %}
		    {% endfor %}

		    <li id = 'pagenext'>
		    	{% if paginate.has_next %}
	        		<a href='/article/index?page={{paginate.next_num}}'>下一页</a>
	        	{% else %}
	        		<a href='/article/index?page={{ paginate.pages }}'>下一页</a>
	    		{% endif %}
	    	</li>
	    </ul>
 	</div>
</div>
{% endblock %}