{% extends "layout.html" %}
{% block title %}flask article index{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="article-release">
			<a href="/article/create">文章发布</a>
		</div>
	</div>
	{% for article in articles %}
        <div class="article-item">
        	<div class="article-title">
        		<i class="fa fa-book">&nbsp;</i>
        		{{ article.title }}
        	</div>
            <div>
            	{{ article.content}}
            </div>
            <div class="article-op">
            	<div class="article-op-level">
            		<a id ="article-op-btn" href="/article/view?article_id={{article.id}}"><i class="fa fa-eye"></i></a>
            	</div>
            	<div>
            		<form action="/article/edit" method="POST">
            			<input type="hidden" name="article_id" value="{{article.id}}" />
            			<button id="article-op-btn" type="submit" class="btn btn-link">
            				<i class="fa fa-edit"></i>
            			</button>
            		</form>
            	</div>
            </div>
        </div>
     {% endfor %}
	<div class='paginate'>
		    <ul class="image_ul">
		    	<li id = 'pagenext'>
		    		{% if paginate.page ==1 %}
		        		<a href='#'>上一页</a>
		        	{% else %}
		        		<a href='/article/index?page={{paginate.pre_num}}'>上一页</a>
		    		{% endif %}
		    	</li>

			    {% for i in paginate.iter_pages() %}
			    	{% if i == paginate.page %}
			        	<li><a class="currentpage" href="/article/index?page={{ i }}">{{ i }}</a></li>
			        {% else %}
			    		<li><a href="/article/index?page={{ i }}">{{ i }}</a></li>
			    	{% endif %}
			    {% endfor %}

			    <li id = 'pagenext'>
			    	{% if paginate.page == paginate.pages %}
		        		<a href='#'>下一页</a>
		        	{% else %}
		        		<a href='/article/index?page={{paginate.next_num}}'>下一页</a>
		    		{% endif %}
		    	</li>
		    </ul>
 		</div>
	 </div>
</div>
{% endblock %}