{% extends "layout.html" %}
{% set active_page = "article" %}
{% block title %}flask article index{% endblock %}
{% block content %}
<div class="container">
    <div class="row" id='shadow'>
    	<div class="article-release">
            <a href="/article/index"><i class="fa fa-angle-left">&nbsp;</i>返回列表</a>
        </div>
    	<div class="article-item">
            <div class="article">
            	<div class="article-title">
            		<i class="fa fa-book">&nbsp;</i>
            		{{ article.title}}
            	</div>
                <div class="article-content">
                	{{ article.content}}
                </div>
            </div>
    	</div>
        <hr/>
    </div>
    <div class="row" id="gap">
        <form action="/article/comment" method="POST">
            <input type="hidden" name="article_id" value="{{article.id}}" />
            <textarea name="detail" rows="3" cols="93"></textarea>
            <div>
                <input type="submit" name="submit" value="提交评论">
            </div>
        </form>
    </div>
    <div class="row" id="gap">
        <div class="comment">
        {% for comment in article.comments %}
            <div class="comment-item">
                <div><i class="fa fa-comment">&emsp;</i>{{ comment.detail }}</div>
                <div class="comment-time">{{comment.created_at}}</div>
            </div>
        {% endfor %}
    </div>
    </div>
</div>
{% endblock %}